{% extends 'base.html' %}

{% block head %}
    <style>
        .info {
            padding: 20px;
{#            background-color: #fafafa;#}
{#            border: 1px solid #ddd;#}
        }

        dd.name {
            font-size: 150%;
            font-weight: bold;
        }

        dd {
            padding: 5px 2px;
            margin: 0;
        }
    </style>

{% endblock %}
{% block title %}{% block top-title %}{{ subject.name }}{% endblock %}{% endblock %}
{% block content %}
    <div class="info mdui-shadow-1 mdui-color-theme-50">
        <div class="mdui-row">
            <div class="mdui-col-xs-12 mdui-col-sm-4 mdui-col-md-4 mdui-col-lg-3 mdui-col-xl-3">
                <div class="mdui-grid-tile mdui-shadow-4 mdui-color-white" style="padding: 10px;">
                    <img class="mdui-img-rounded" src="{{ subject.cover }}"/>
                </div>
            </div>
            <div class="mdui-col-xs-12 mdui-col-sm-6 mdui-col-md-6 mdui-col-lg-9 mdui-col-xl-9">

                <div class="">
                    <dl>
                        <dd class="name"> {{ subject.name }}</dd>
                        <dd><b>状态：</b>{{ subject.get_state_display }}</dd>
                        <dd>
                            <b>标签：</b>{{ subject.tags }}
                        </dd>
                        <dd><b>导演：</b>{{ subject.director }}
                        </dd>
                        <dd><b>地区：</b>{{ subject.area }}</dd>
                        <dd><b>年代：</b>{{ subject.pub_date | date:'Y' }}</dd>
                        <dd><b>主演：</b>{{ subject.actress }}
                        </dd>
                        <dd class="desd">
                            <div class="alldes sdes cur">
                                <div class="des2"><b>剧情：</b>
                                    <span>{{ subject.desc }}</span>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="lines mdui-shadow-1 mdui-color-theme-50">
        {% include 'line/line.html' %}
    </div>


{% endblock %}