
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="./video.css" rel="stylesheet">
<SCRIPT LANGUAGE="JavaScript1.2">

</script>
</head>
<body style="margin:0px;padding:0px;">
<div id="sponsorAdDiv" style="visibility:hidden; z-index:999; height:105%; width:100%;">
<iframe id="zzzif" name="zzzif" src="" scrolling="no" frameborder="0"></iframe>
</div>

<div id="play_header">
    <div id="header3"></div>
	<div id="header1"></div>
    <div id="header2"></div>
</div>

<div id="play_box">
	<div id="player"></div>
    <div id="video_menu"></div>
</div>
<script>

document.getElementById('player').innerHTML  = '<iframe src="https://play.aitvb.com:82/videojs/url.php?url='+parent.now+'" scrolling="0" frameborder="0" width="100%" height="500px" allowfullscreen></iframe>';
</script>
</body>
</html>